  

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #f5e5e5 0%, #2c1c28 100%);


    .navMenu .dot {
      width: 8px;
      height: 8px;
      background: #c216c2;
      border-radius: 50%;
      opacity: 0;
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    .navMenu {
      margin: 1.5rem;
 
      a:nth-child(3):hover ~ .dot {
        -webkit-transform:  translate(225px,-15px);
        transform: translate(225px,-15px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
      }
      a:nth-child(2):hover ~ .dot {
        -webkit-transform: translateX(110px);
        transform: translateX(107px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
      }

      a:nth-child(1):hover ~ .dot {
        -webkit-transform: translateX(30px);
        transform: translate(-10px,-15px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
      }
      a {
        color: #000000;
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
        display: inline-block;
        width: 80px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      
      }
      a:hover {
        color: #c005c0;
      }
      a, a:visited, a:focus, a:active, a:hover{
        outline:0 none !important;
      }
      
    }
    

      .defaultButton {
      color: rgba( 0, 0, 0);
      margin: 10px;
      width: 10rem;
      padding: .8em 1em calc(.8em + 3px);
      border-radius: 3px;
      background: rgba(0, 0, 0, 0);
      transition: 0.2s;
      font-size:1rem ;
     
    }
   .defaultButton:hover{
      color: rgb(255, 249, 249);
      background-color:  rgb(27, 27, 27);
    }
    .defaultButton:focus{
      outline:0 none !important;

    }

    .filmContent{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .filmContainer {
      max-width: 100vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 35px;
      margin: 0 auto;
      padding: 40px 0;
  
      .filmCard {
        position: relative;
        width: 300px;
        height: 420px;
        margin: 0 auto;
        background: #000;
        border-radius: 15px;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  
        .face {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
  
          &.face1 {
            box-sizing: border-box;
            padding: 20px;
            .back {
              background-color:whitesmoke;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
   
          }
  a{
  text-decoration: none;
}
          &.face2 {
            transition: 0.5s;
          }
        }
      }
      .filmCard:hover .face.face2 {
        height: 60px;
        }
        .filmCard .face.face2 {
            border-radius: 15px;
        }
    }
  
 
  
  }
  